

<div id="aboutBox" class="closed workBox">
    <div class="categoryHeader">
        <div class="pill"><h1>About</h1></div>
    </div>
    <div class="categoryContent">
        
        {% for post in site.about %}
            
            <div id="aboutText">
                <div><p>{{ post.content }}</p> <p>Website designed and built by <a href="https://bycalebstone.com/">Caleb Stone</a> and Lia DiBitonto.</p></div>

                
                <div></div>
            </div>
            
                
        </div>
        {% endfor %}


    </div>
</div>