<div id="mobileWorkBox">
    <div class="categoryHeader">
        <div class="pill active"><h1>Visual Art</h1></div>
        <div class="pill"><h1>Film</h1></div>
        <div class="pill"><h1>About</h1></div>   
    </div>
    <div class="categoryContent">
        <div class="scrollFixBox">
        {% for post in site.visualArt | sort: "order" %}
            <div class="work mobileVisualArt">
        
                <div class="workImage">
                    <img src="{{post.images}}" alt="">
                </div>

                <div class="workText">
            
                    <div>
                        <div class="work_title"><p>{{ post.title}}, {{ post.year }}</p></div>
                        <div class="work_materials"><p>{{ post.materials }}</p></div>
                        <div class="work_dimensions"><p>{{ post.dimensions }}</p></div>
                    </div>
                    <div>
                    
                    </div>

                </div>
        
            
                
            </div>
        {% endfor %}
        </div>

        <div class="scrollFixBox closed">
        {% for post in site.film | sort: "order" %}
          
        <div class="work mobileFilm">
            
            <a href="{{ post.filmLink }}" target="_blank">
            <div class="workImage">
                <img src="{{post.images}}" alt="">
            </div>
            </a>

            <div class="workText">
        
                <div>
                    <div class="work_title"><p>{{ post.title}}, {{ post.year }}</p></div>
                    <div class="work_materials"><p>{{ post.materials }}</p></div>
                </div>
                <div>
                   
                </div>

            </div>      
        </div>
         
        {% endfor %}
        </div>

        <div class="scrollFixBox closed">
        {% for post in site.about %}
          
            <div id="aboutText" class="mobileAbout">
                <p>{{ post.content }}</p>
            </div>
            
        {% endfor %} 
        </div> 
        </div>
        


    </div>
