---

---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Amanda Samimi{{ page.title }}</title>
    <link rel="stylesheet" href="/assets/css/main.css">
    <link rel="stylesheet" href="https://use.typekit.net/iwy1fvg.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
  </head>
  <body>
    {% include body.html %}
    <div id="carouselModal" style="display:none;">
    <div class="carousel-overlay"></div>
    <div class="carousel-content">
    <button class="carousel-close">&times;</button>
    <button class="carousel-prev">&#8592;</button>
    <div class="carousel-image"></div>
    <div class="carousel-text"></div>
    <button class="carousel-next">&#8594;</button>
  </div>
</div>
    <script src="/assets/scripts/script.js"></script>
  </body>
</html>